<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Home Page</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6">
          <h2>Welcome to Events Ticketing</h2>

            <h3>Choose option to proceed</h3>
<!--            <p>
                    <a class="btn btn-primary" href="#/login">Login »</a>
                    <a class="btn btn-primary" href="#/signup">Signup »</a>
            </p>-->
            <p>
                <br />
                    <a class="btn btn-primary" href="#/events">Create Event»</a>
                <br /><br />
                    <a class="btn btn-primary" href="#/tickets">Create Tickets »</a>
                <br /><br />
                    <a class="btn btn-primary" href="#/purchase">Purchase Tickets »</a>
                <br /> <br />          
            </p>
            <hr>
            <a class="btn btn-primary" href="#/login">Sign Out »</a>
          </div>
      </div>
    </div>
  </div>
</div>
</div>